<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultiAlignWin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MultiAlignWin.Properties.Settings>
            <setting name="RawDataPath" serializeAs="String">
                <value>c:\</value>
            </setting>
            <setting name="DMSDataSetRegularExpression" serializeAs="String">
                <value>Caulo_049_[2-4]</value>
            </setting>
            <setting name="DMSConnectionTimeout" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DMSServerName" serializeAs="String">
                <value>gigasax</value>
            </setting>
            <setting name="DMSDatabaseName" serializeAs="String">
                <value>DMS5</value>
            </setting>
            <setting name="UserPeakPickingMonoMass" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="UserPeakPickingAverageMass" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="UserPeakPickingLogAbundance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="UserPeakPickingScan" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="UserPeakPickingNet" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="UserPeakPickingUseNet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserPeakPickingFit" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="UserPeakPickingMaxDist" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="UserPeakPickingMinDist" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UserPeakPickingMonoMassConstraintPPM" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="UserPeakPickingAverageMassConstraintPPM" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="UserDataLoaderRegEx" serializeAs="String">
                <value>Caulo_049_[2-4]</value>
            </setting>
            <setting name="UserClusterOptionsMassTolerance" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="UserClusterOptionsUseMaxInDataset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserClusterOptionsNETTolerance" serializeAs="String">
                <value>0.03</value>
            </setting>
            <setting name="UserClusterOptionsUseMeanRepresentation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserAlignmentOptionsCalibrationTypeMzCoeff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAlignmentOptionsCalibrationTypeNetRelationship"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserAlignmentOptionsCalibrationTypeHybrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAlignmentOptionsUseRecalibrateMasses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAlignmentOptionsNETTolerance" serializeAs="String">
                <value>0.03</value>
            </setting>
            <setting name="UserAlignmentOptionsNumSections" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UserAlignmentOptionsMaxDistortion" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UserAlignmentOptionsContractionFactor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UserAlignmentOptionsMaxPromiscuity" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UserAlignmentOptionsIgnorePromiscuity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAlignmentOptionsMassWindowPPM" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="UserAlignmentOptionsNumMassDeltaBins" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="UserAlignmentOptionsNumXSlices" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="UserAlignmentOptionsOutlierZScore" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UserAlignmentOptionsMaxJump" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UserAlignmentOptionsUseLSQFit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAlignmentOptionsLSQNumOptions" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="UserAlignmentOptionsLSQOutlierZScore" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="UserAlignmentOptionsMassTolerance" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="UserDBFormLocalDatabasePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UserDBFormPMTQuality" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UserDBFormMinXCorr" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UserDBFormMinDiscriminant" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserDBFormPeptideProphetProbability" serializeAs="String">
                <value>0.95</value>
            </setting>
            <setting name="UserDBFormIncludeUnusedDBs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserPeakPickingUseIntensity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserPeakPickingIntensityFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserPeakPickingFitFilter" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="UserPeakPickingInvertFitFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserPeakPickingUseFitFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAFirstTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserOutputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UserPeakPickingUMCReportingTypePeakArea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserAlignmentOptionsMassBinSize" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="UserAlignmentOptionsNETBinSize" serializeAs="String">
                <value>0.001</value>
            </setting>
            <setting name="UserClusterOptionsDriftTimeTolerance" serializeAs="String">
                <value>50</value>
            </setting>
        </MultiAlignWin.Properties.Settings>
    </userSettings>
</configuration>