<?xml version="1.0"?>
<configuration>  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MultiAlign.Workspace" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MultiAlign.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <MultiAlign.Workspace>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </MultiAlign.Workspace>
    <MultiAlign.Properties.Settings>
      <setting name="DatasetFolderPath" serializeAs="String">
        <value>m:\data\proteomics\MAPaper\data\</value>
      </setting>
      <setting name="SingleDatasetPath" serializeAs="String">
        <value />
      </setting>
      <setting name="InputFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="WorkspaceFile" serializeAs="String">
        <value>workspace.xml</value>
      </setting>
    </MultiAlign.Properties.Settings>
  </userSettings>
</configuration>
